html {
	font: 100%/1.15 sans-serif, Arial;
	line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	}
	
	h1 {
	font: Arial;
	font-size: 40pt;
	text-align: center;
	min-width: 100%;
	color: #fff;
	background-color: #ccf;
		}
		
		.text {
		text-align: center;
		margin-bottom: 5em;
		}
		
		h2 {
		text-align: center;
		color: #ccf;
				}
		
		p {
		text-align:center;
		margin-right: 10em;
		margin-left: 10em;
		max-width: 100%;
		min-width: 20%;
		max-height: 100%;
		min-height: 20%;
			}
		
		nav li {
	text-align: center;
	display: inline;
	margin-left: 5em;

	}
	

	
	nav a {
	margin-left: 0;
	color: #000;
	text-decoration: none;
	text-align: center;
	}
	
	nav a:hover {
	color: #ccf;
	text-align: center;
	}
	
	
	nav li {
	display: inline;
	font-size: 16pt;
	margin: 2em;
	min-width: 5em;
	min-height: 5em;
	text-align: center;
		}

.img {
max-width: 100%;
min-width: 20%;
text-align: center;
	}